body{
    background-color: #ccc;
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#map{
    border-radius: 10px;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}
